*{
  padding: 0;
  margin: 0;

}
body{
  background-color:#9900ff ;
}
.navbar1{
  padding: 20px;
  background-color: black;
  
  
 
}
.navbar2 {
 list-style-type: none;
 display: flex;
  justify-content:center;
}
.navbar3{
  text-decoration: none;
  list-style: none;
  padding-right: 40px;
  color: aliceblue;
  font-weight: 600;
  letter-spacing: 1px;
}
.navbar4{
  text-decoration: none;
  list-style: none;
  padding-left: 40px;
  color: aliceblue;
  font-weight: 600;
  letter-spacing: 1px;
}
.navbar5{
  text-decoration: none;
  list-style: none;
  padding-right: 60px;
  color: aliceblue;
  font-weight: 600;
  letter-spacing: 1px;
}
.signup{
  padding-top: 50px;
  height: auto;
  width: auto;
  text-align: center;
  padding-left: 500px;
  padding-right: 500px;
  
}
.signup1{
  
  padding-top: 40px;
  text-align: center;
  padding-bottom: 40px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 1px 1px 1px 2px black;
 
}
.signup2{
  height: 30px;
  width: 250px;
  border-radius: 5px;
  padding-left: 10px;
}
.button{
  height: 30px;
  width: 250px;
  background-color: black;
  color: white;
}
.login{
  padding-top: 50px;
  height: auto;
  width: auto;
  text-align: center;
  padding-left: 500px;
  padding-right: 500px;
}
.login1{
  
  padding-top: 40px;
  text-align: center;
  padding-bottom: 40px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 1px 1px 1px 2px black;
}
.login2{
  height: 30px;
  width: 250px;
  border-radius: 5px;
  padding-left: 10px;
}
.login3{
  height: 30px;
  width: 250px;
  background-color: black;
  color: white;
}
.user{
  padding-top: 50px;
  height: auto;
  width: auto;
  text-align: center;
  padding-left: 500px;
  padding-right: 500px;
  
}
.user1{
  
  padding-top: 40px;
  text-align: center;
  padding-bottom: 40px;
  border-radius: 5px;
  background-color: white;
  color: black;
  box-shadow: 1px 1px 1px 2px black;
}
.home{
  padding-top: 50px;
  height: auto;
  width: auto;
  text-align: center;
  padding-left: 300px;
  padding-right: 300px;
}
.home1{
  
  padding-top: 40px;
  text-align: center;
  padding-bottom: 40px;
  border-radius: 5px;
  background-color: white;
  color: black;
  box-shadow: 1px 1px 1px 2px black;
}